# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo

# Build / cache
dist/
*.local
.env
.env.local
.dev.vars
.dev.vars.local

# Logs
*.log
npm-debug.log*
